<div id="<%= dom_id inspection %>">
  <p>
    <strong>Inspected on:</strong>
    <%= inspection.inspected_on %>
  </p>

  <p>
    <strong>Total frames:</strong>
    <%= inspection.total_frames %>
  </p>

  <p>
    <strong>Brood frames:</strong>
    <%= inspection.brood_frames %>
  </p>

  <p>
    <strong>Honey frames:</strong>
    <%= inspection.honey_frames %>
  </p>

  <p>
    <strong>Other info:</strong>
    <%= inspection.other_info %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= inspection.comment %>
  </p>

  <p>
    <strong>Bee family:</strong>
    <%= inspection.bee_family_id %>
  </p>

</div>
